<a href="https://colab.research.google.com/github/gangasani-anusha/Apriori-FPGrowth/blob/main/DM_Apriori_%26_FPGrowth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apriori Algorithm

## `Method 1`

In [38]:
# Importing all the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [39]:
# Initializing the data
apriori_data = [['Tommy', 'Ben', 'Joe', 'John', 'Alex', 'Charles'],
           ['John', 'Tommy', 'Charles', 'Joe', 'Emily', 'Anna'],
           ['Ben', 'John', 'Tommy', 'Joe'],
           ['John', 'Alex', 'Joe', 'Tommy', 'Charles'],
           ['Ben', 'Alex', 'Chris', 'Tommy', 'Anna', 'Emily']]

In [40]:
# Transforming the data
data1 = TransactionEncoder()
transformed_apriori_data = data1.fit(apriori_data).transform(apriori_data)
apriori_result = pd.DataFrame(transformed_apriori_data, columns=data1.columns_)
apriori_result

    Alex   Anna    Ben  Charles  Chris  Emily    Joe   John  Tommy
0   True  False   True     True  False  False   True   True   True
1  False   True  False     True  False   True   True   True   True
2  False  False   True    False  False  False   True   True   True
3   True  False  False     True  False  False   True   True   True
4   True   True   True    False   True   True  False  False   True

In [41]:
from mlxtend.frequent_patterns import apriori

apriori(apriori_result, min_support=0.3)

    support         itemsets
0       0.6              (0)
1       0.4              (1)
2       0.6              (2)
3       0.6              (3)
4       0.4              (5)
5       0.8              (6)
6       0.8              (7)
7       1.0              (8)
8       0.4           (0, 2)
9       0.4           (0, 3)
10      0.4           (0, 6)
11      0.4           (0, 7)
12      0.6           (0, 8)
13      0.4           (1, 5)
14      0.4           (8, 1)
15      0.4           (2, 6)
16      0.4           (2, 7)
17      0.6           (8, 2)
18      0.6           (3, 6)
19      0.6           (3, 7)
20      0.6           (8, 3)
21      0.4           (8, 5)
22      0.8           (6, 7)
23      0.8           (8, 6)
24      0.8           (8, 7)
25      0.4        (0, 8, 2)
26      0.4        (0, 3, 6)
27      0.4        (0, 3, 7)
28      0.4        (0, 8, 3)
29      0.4        (0, 6, 7)
30      0.4        (0, 8, 6)
31      0.4        (0, 8, 7)
32      0.4        (8, 1, 5)
33      0.4        (2, 6, 7)
34      0.4        (8, 2, 6)
35      0.4        (8, 2, 7)
36      0.6        (3, 6, 7)
37      0.6        (8, 3, 6)
38      0.6        (8, 3, 7)
39      0.8        (8, 6, 7)
40      0.4     (0, 3, 6, 7)
41      0.4     (0, 8, 3, 6)
42      0.4     (0, 8, 3, 7)
43      0.4     (0, 8, 6, 7)
44      0.4     (8, 2, 6, 7)
45      0.6     (8, 3, 6, 7)
46      0.4  (0, 3, 6, 7, 8)

In [42]:
apriori(apriori_result, min_support=0.7, use_colnames=True)

   support            itemsets
0      0.8               (Joe)
1      0.8              (John)
2      1.0             (Tommy)
3      0.8         (John, Joe)
4      0.8        (Tommy, Joe)
5      0.8       (Tommy, John)
6      0.8  (Tommy, John, Joe)

## `Method 2`

In [43]:
!pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

In [44]:
# Importing the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [45]:
# Loading the data
apriori_Gdata = pd.read_csv("groceries.csv")
apriori_Gdata.product_name = ["".join(i.split(",")) for i in apriori_Gdata.product_name]
apriori_Gorder = apriori_Gdata.order_id.unique()

In [46]:
# Transforming the data
apriori_trans = [apriori_Gdata[apriori_Gdata.order_id == i]["product_name"].tolist() for i in apriori_Gorder]
apriori_encoder = TransactionEncoder().fit(apriori_trans)
apriori_trans = apriori_encoder.transform(apriori_trans)
apriori_trans = pd.DataFrame(apriori_trans,columns=apriori_encoder.columns_)

In [47]:
# Applying apriori algorithm
freq_apriori = apriori(apriori_trans,min_support=0.0095,use_colnames=True)

# Applying association rules
apriori_association_data = association_rules(freq_apriori,metric="confidence")
for item in apriori_association_data.iterrows():
  print(f"Rule {item[0] + 1}: {tuple(item[1].antecedents)} -> {tuple(item[1].consequents)}")

Rule 1: ('Authentic French Brioche',) -> ('Petit Suisse Fruit',)
Rule 2: ('Petit Suisse Fruit',) -> ('Authentic French Brioche',)
Rule 3: ('Cinnamon Crunch',) -> ('Organic Heritage Flakes Cereal',)
Rule 4: ('Creamed Chipped Beef',) -> ('Cran-Apple Juice Drink',)
Rule 5: ('Cran-Apple Juice Drink',) -> ('Creamed Chipped Beef',)
Rule 6: ('Oatmeal Crème Pies',) -> ('Cran-Apple Juice Drink',)
Rule 7: ('Cran-Apple Juice Drink',) -> ('Oatmeal Crème Pies',)
Rule 8: ('Creamed Chipped Beef',) -> ('Oatmeal Crème Pies',)
Rule 9: ('Oatmeal Crème Pies',) -> ('Creamed Chipped Beef',)
Rule 10: ('Lemon Sparkling Water',) -> ('Crunch Chocolate Peanut Butter Granola Bar',)
Rule 11: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis',)
Rule 12: ('Grade A Extra Large Eggs',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 13: ('Healthy Grains Granola Bar Vanilla Blueberry',) -> ('Organic Heritage Flakes Cereal',)
Rule 14: ('Lemon Sparkling Water',) -> ('Orange Sparkling Water',)
Rule 15: ('Light Oaked Chardonnay',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 16: ('Reduced Fat Milk',) -> ('Natural Artesian Bottled Water',)
Rule 17: ('Organic Graham Crunch Cereal',) -> ('Organic Heritage Flakes Cereal',)
Rule 18: ('Sparkling Water Natural Mango Essenced',) -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 19: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water',)
Rule 20: ('Zero Calorie Cola',) -> ('Soda',)
Rule 21: ('Total 0% Raspberry Yogurt',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 22: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 23: ('Lemon Sparkling Water', 'Orange Sparkling Water') -> ('Crunch Chocolate Peanut Butter Granola Bar',)
Rule 24: ('Lemon Sparkling Water', 'Crunch Chocolate Peanut Butter Granola Bar') -> ('Orange Sparkling Water',)
Rule 25: ('Orange Sparkling Water', 'Crunch Chocolate Peanut Butter Granola Bar') -> ('Lemon Sparkling Water',)
Rule 26: ('Lemon Sparkling Water',) -> ('Orange Sparkling Water', 'Crunch Chocolate Peanut Butter Granola Bar')
Rule 27: ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 28: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 29: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 30: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 31: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 32: ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis') -> ('Sparkling Water Natural Mango Essenced',)
Rule 33: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis',)
Rule 34: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Peach-Pear Sparkling Water',)
Rule 35: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis')
Rule 36: ('Grade A Extra Large Eggs', 'Light Oaked Chardonnay') -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 37: ('Light Oaked Chardonnay', 'Natural Lime Flavor Sparkling Mineral Water') -> ('Grade A Extra Large Eggs',)
Rule 38: ('Peach-Pear Sparkling Water', 'Organic Heritage Flakes Cereal') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 39: ('Sparkling Water Natural Mango Essenced', 'Organic Heritage Flakes Cereal') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 40: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 41: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Sparkling Water Natural Mango Essenced',)
Rule 42: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water',)
Rule 43: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 44: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry', 'Total 2% Lowfat Greek Strained Yogurt with Peach') -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 45: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry', 'Total 2% with Strawberry Lowfat Greek Strained Yogurt') -> ('Total 2% Lowfat Greek Strained Yogurt with Peach',)
Rule 46: ('Total 2% with Strawberry Lowfat Greek Strained Yogurt', 'Total 2% Lowfat Greek Strained Yogurt with Peach') -> ('Total 2% Lowfat Greek Strained Yogurt With Blueberry',)
Rule 47: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced', 'Dark Chocolate Minis') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 48: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks', 'Dark Chocolate Minis') -> ('Sparkling Water Natural Mango Essenced',)
Rule 49: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 50: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water',)
Rule 51: ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis') -> ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 52: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 53: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 54: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis')

# FP-Growth Algorithm

## `Method 1`

In [48]:
!pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

In [49]:
# Importing the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [50]:
# Initializing the data
fpgrowth_data = [['Tommy', 'Ben', 'Joe', 'John', 'Alex', 'Charles'],
           ['John', 'Tommy', 'Charles', 'Joe', 'Emily', 'Anna'],
           ['Ben', 'John', 'Tommy', 'Joe'],
           ['John', 'Alex', 'Joe', 'Tommy', 'Charles'],
           ['Ben', 'Alex', 'Chris', 'Tommy', 'Anna', 'Emily']]

In [51]:
# Transforming the data
new_data = TransactionEncoder()
transformed_fpgrowth_data = new_data.fit(fpgrowth_data).transform(fpgrowth_data)
fpgrowth_result = pd.DataFrame(transformed_fpgrowth_data, columns=new_data.columns_)
fpgrowth_result

    Alex   Anna    Ben  Charles  Chris  Emily    Joe   John  Tommy
0   True  False   True     True  False  False   True   True   True
1  False   True  False     True  False   True   True   True   True
2  False  False   True    False  False  False   True   True   True
3   True  False  False     True  False  False   True   True   True
4   True   True   True    False   True   True  False  False   True

In [52]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(fpgrowth_result, min_support=0.4)

    support         itemsets
0       1.0              (8)
1       0.8              (7)
2       0.8              (6)
3       0.6              (3)
4       0.6              (2)
5       0.6              (0)
6       0.4              (5)
7       0.4              (1)
8       0.8           (8, 7)
9       0.8           (6, 7)
10      0.8           (8, 6)
11      0.8        (8, 6, 7)
12      0.6           (3, 6)
13      0.6           (3, 7)
14      0.6           (8, 3)
15      0.6        (3, 6, 7)
16      0.6        (8, 3, 6)
17      0.6        (8, 3, 7)
18      0.6     (8, 3, 6, 7)
19      0.6           (8, 2)
20      0.4           (2, 6)
21      0.4           (2, 7)
22      0.4        (8, 2, 6)
23      0.4        (8, 2, 7)
24      0.4        (2, 6, 7)
25      0.4     (8, 2, 6, 7)
26      0.6           (0, 8)
27      0.4           (0, 2)
28      0.4           (0, 3)
29      0.4           (0, 6)
30      0.4           (0, 7)
31      0.4        (0, 8, 2)
32      0.4        (0, 8, 3)
33      0.4        (0, 3, 6)
34      0.4        (0, 8, 6)
35      0.4     (0, 8, 3, 6)
36      0.4        (0, 6, 7)
37      0.4        (0, 3, 7)
38      0.4        (0, 8, 7)
39      0.4     (0, 3, 6, 7)
40      0.4     (0, 8, 6, 7)
41      0.4     (0, 8, 3, 7)
42      0.4  (0, 3, 6, 7, 8)
43      0.4           (8, 5)
44      0.4           (1, 5)
45      0.4           (8, 1)
46      0.4        (8, 1, 5)

In [53]:
fpgrowth(fpgrowth_result, min_support=0.7, use_colnames=True)

   support            itemsets
0      1.0             (Tommy)
1      0.8              (John)
2      0.8               (Joe)
3      0.8       (Tommy, John)
4      0.8        (Tommy, Joe)
5      0.8         (John, Joe)
6      0.8  (Tommy, John, Joe)

## `Method 2`

In [54]:
# Importing the libraries
from mlxtend.frequent_patterns import fpgrowth,association_rules

In [55]:
# Loading the data
fp_data = pd.read_csv("groceries.csv")
fp_data.product_name = ["".join(i.split(",")) for i in fp_data.product_name]
fp_order = fp_data.order_id.unique()

In [56]:
# Transforming the data
fp_trans = [dataset[dataset.order_id == i]["product_name"].tolist() for i in fp_order]
fp_encoder = TransactionEncoder().fit(fp_trans)
fp_trans = fp_encoder.transform(fp_trans)
fp_trans = pd.DataFrame(fp_trans,columns=fp_encoder.columns_)

In [57]:
# Applying apriori algorithm
fp_freq = fpgrowth(transactions,min_support=0.0095,use_colnames=True)

# Applying association rules
fp_association_data = association_rules(fp_freq,metric="confidence")
for item in fp_association_data.iterrows():
  print(f"Rule {item[0] + 1}: {tuple(item[1].antecedents)} -> {tuple(item[1].consequents)}")

Rule 1: ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 2: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 3: ('Peach-Pear Sparkling Water', 'Organic Heritage Flakes Cereal') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 4: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water',)
Rule 5: ('Sparkling Water Natural Mango Essenced',) -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 6: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis',)
Rule 7: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 8: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Sparkling Water Natural Mango Essenced',)
Rule 9: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water',)
Rule 10: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 11: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 12: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 13: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 14: ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis') -> ('Sparkling Water Natural Mango Essenced',)
Rule 15: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis',)
Rule 16: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Peach-Pear Sparkling Water',)
Rule 17: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis')
Rule 18: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced', 'Dark Chocolate Minis') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 19: ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks', 'Dark Chocolate Minis') -> ('Sparkling Water Natural Mango Essenced',)
Rule 20: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Dark Chocolate Minis',)
Rule 21: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water',)
Rule 22: ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis') -> ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 23: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 24: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Peach-Pear Sparkling Water', 'Organic Pink Lemonade Bunny Fruit Snacks')
Rule 25: ('Sparkling Water Natural Mango Essenced', 'Organic Pink Lemonade Bunny Fruit Snacks') -> ('Peach-Pear Sparkling Water', 'Dark Chocolate Minis')
Rule 26: ('Sparkling Water Natural Mango Essenced', 'Organic Heritage Flakes Cereal') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 27: ('Healthy Grains Granola Bar Vanilla Blueberry',) -> ('Organic Heritage Flakes Cereal',)
Rule 28: ('Total 0% Raspberry Yogurt',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 29: ('Authentic French Brioche',) -> ('Petit Suisse Fruit',)
Rule 30: ('Petit Suisse Fruit',) -> ('Authentic French Brioche',)
Rule 31: ('Cinnamon Crunch',) -> ('Organic Heritage Flakes Cereal',)
Rule 32: ('Lemon Sparkling Water',) -> ('Orange Sparkling Water',)
Rule 33: ('Lemon Sparkling Water',) -> ('Crunch Chocolate Peanut Butter Granola Bar',)
Rule 34: ('Lemon Sparkling Water', 'Orange Sparkling Water') -> ('Crunch Chocolate Peanut Butter Granola Bar',)
Rule 35: ('Lemon Sparkling Water', 'Crunch Chocolate Peanut Butter Granola Bar') -> ('Orange Sparkling Water',)
Rule 36: ('Orange Sparkling Water', 'Crunch Chocolate Peanut Butter Granola Bar') -> ('Lemon Sparkling Water',)
Rule 37: ('Lemon Sparkling Water',) -> ('Orange Sparkling Water', 'Crunch Chocolate Peanut Butter Granola Bar')
Rule 38: ('Zero Calorie Cola',) -> ('Soda',)
Rule 39: ('Reduced Fat Milk',) -> ('Natural Artesian Bottled Water',)
Rule 40: ('Organic Graham Crunch Cereal',) -> ('Organic Heritage Flakes Cereal',)
Rule 41: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 42: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry', 'Total 2% Lowfat Greek Strained Yogurt with Peach') -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 43: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry', 'Total 2% with Strawberry Lowfat Greek Strained Yogurt') -> ('Total 2% Lowfat Greek Strained Yogurt with Peach',)
Rule 44: ('Total 2% with Strawberry Lowfat Greek Strained Yogurt', 'Total 2% Lowfat Greek Strained Yogurt with Peach') -> ('Total 2% Lowfat Greek Strained Yogurt With Blueberry',)
Rule 45: ('Grade A Extra Large Eggs',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 46: ('Light Oaked Chardonnay',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 47: ('Grade A Extra Large Eggs', 'Light Oaked Chardonnay') -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 48: ('Light Oaked Chardonnay', 'Natural Lime Flavor Sparkling Mineral Water') -> ('Grade A Extra Large Eggs',)
Rule 49: ('Oatmeal Crème Pies',) -> ('Cran-Apple Juice Drink',)
Rule 50: ('Cran-Apple Juice Drink',) -> ('Oatmeal Crème Pies',)
Rule 51: ('Creamed Chipped Beef',) -> ('Oatmeal Crème Pies',)
Rule 52: ('Oatmeal Crème Pies',) -> ('Creamed Chipped Beef',)
Rule 53: ('Creamed Chipped Beef',) -> ('Cran-Apple Juice Drink',)
Rule 54: ('Cran-Apple Juice Drink',) -> ('Creamed Chipped Beef',)